* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}
.product {
  float: left;
  width: 23%;
  border-radius: 2%;
  margin: 1%;
  height: 63vh;
}
.product:hover {
    box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
}
.image-box {
  width: 100%;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
}

.images {
  height: 15em;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}


/* IMAGES */
#image-1 {background-image: url("../images/img0.jpg");background-size: 196px 260px;}

#image-2 {background-image: url("../images/book3.jpg");background-size: 196px 260px;}

#image-3 {background-image: url("../images/book4.0.jpg");background-size: 196px 260px;}

#image-4 {background-image: url("../images/book5.1.jpg");background-size: 196px 260px;}

#image-5 {background-image: url("../images/book6.0.jpg");background-size: 196px 260px;}

#image-6 {background-image: url("../images/book-7.png");background-size: 196px 260px;}

#image-7 {background-image: url("../images/book2.jpg");background-size: 196px 260px;}

#image-8 {background-image: url("../images/book8.0.jpg");background-size: 196px 260px;}

#image-9 {background-image: url("../images/book11.jpg");background-size: 196px 260px;}

#image-10 {background-image:url("../images/book9.jpg");background-size: 196px 260px;}

#image-11 {background-image:url("../images/book12.jpg");background-size: 196px 260px;}

.text-box {
  width: 100%;
  float: left;
  border: 0.01em solid #dddbdb;
  border-radius: 0 0 2% 2%;
  padding: 1em;
  height: 38%;
}

h2, h3 {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0.2em auto;
}

.item, .price {
  clear: left;
  width: 100%;
  text-align: center;
}

.price {
  color: Grey;
}

.description, label, button, input {
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}

input:focus {
  outline-color: #fdf;
}

label {
  width: 60%;
}

.text-box input {
  width: 15%;
  clear: none;
}

.text-box button {
  margin-top: 1em;
}

button {
  padding: 2%;
  background-color: #dfd;
  border: none;
  border-radius: 2%;
}

button:hover {
  bottom: 0.1em;
}

button:focus {
  outline: 0;
}

button:active {
  bottom: 0;
  background-color: #fdf;
}

.table-heading h2 {
  padding: 1%;
  margin: 0;
  text-align: center;
}


